apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-169983454
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/fbxzowfx-tenant/test-app-169983454/go-169983454@sha256:b910831b67b786fdcf9b7ccf3face6ed44f59e74413ca35e225bc635b28b023c
        name: my-go
        resources: {}
status: {}
