apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-169983454
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-169983454
    app.kubernetes.io/part-of: test-app-169983454
  name: go-169983454
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-169983454
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-169983454
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/fbxzowfx-tenant/test-app-169983454/go-169983454@sha256:b910831b67b786fdcf9b7ccf3face6ed44f59e74413ca35e225bc635b28b023c
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
